h3 {
	margin: 0;
	padding: 0;
	border: 0;
}

h1 {
	font-family: "Space Mono", monospace;
	font-size: 26px;
	line-height: 38px;
	font-weight: bold;
}

h2 {
	font-family: "Space Mono", monospace;
	font-size: 22px;
	line-height: 33px;
	font-weight: bold;
}

h3 {
	font-family: "Space Mono", monospace;
	font-size: 16px;
	font-weight: normal;
}

h4 {
	font-family: "Space Mono", monospace;
	font-size: 13px;
	font-weight: normal;
}

body {
	font-family: "Space Mono", monospace;
	font-size: 15px;
	line-height: 25px;
	font-weight: normal;
	background-color: #f6f8ff;
	margin: 20px;
}

.themeswitcher .light-text {
	display: none;
}

.themeswitcher .light-icon {
	display: none;
}

.container {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.dark-text {
	text-transform: uppercase;
	margin-right: 5px;
}

.searchbar {
	display: flex;
	flex-direction: row;
	background-color: white;
	align-items: center;
	border-radius: 15px;
	box-shadow: 5px 10px 18px #e7e7e7;
}

input {
	font-family: "Space Mono", monospace;
	border-style: hidden;
}

input:focus {
	outline: none;
}

button {
	font-family: "Space Mono", monospace;
	color: white;
	font-weight: 500;
	background-color: #0079ff;
	border-radius: 10px;
	border-style: none;
	height: 45px;
	width: 100px;
}

.search-field {
	flex: 1;
	padding: 15px 0;
}

.search-icon {
	margin-left: 15px;
	margin-right: 15px;
	padding: 20px 0;
}

.search-button {
	margin-left: 15px;
	margin-right: 10px;
}

.main-container {
	display: flex;
	flex-direction: column;
	background-color: white;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	box-shadow: 5px 10px 18px #e7e7e7;
	margin-top: 40px;
}

.info {
	display: grid;
	grid-template-columns: 30% 1fr;
	grid-template-rows: 1fr 1	fr;
	height: 200px;
	margin-top: 40px;
}

.info-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}

.stats {
	display: grid;
	margin-top: 30px;
}

.contact {
	margin-top: 30px;
	margin-bottom: 30px;
}

.photo {
	height: 180px;
	border-radius: 90%;
}

.info-photo {
	grid-row: span 2;
	display: flex;
	justify-content: center;
	height: 100px;
}

.date {
	display: flex;
	justify-content: center;
	align-items: center;
}

.handle {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	line-height: 0px;
}

.stats {
	width: 100%;
	display: grid;
	grid-template-columns: 30% 1fr 1fr 1fr;
	grid-template-areas:
	 ". repos followers following ";
	 padding-right: 20px;

}

.repos {
	grid-area: repos;
	display: flex;
	flex-direction: column;
	background-color: #f6f8ff;
}

.repos-number {
	font-size: 24px;
}


.followers {
	grid-area: followers;
	display: flex;
	flex-direction: column;
	background-color: #f6f8ff;
}

.followers-number {
	font-size: 24px;
}

.following {
grid-area: following;
display: flex;
flex-direction: column;
background-color: #f6f8ff;
}

.following-number {
	font-size: 24px;
}

.contact {
	width: 100%;
	display: grid;
	grid-template-columns: 30% 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	 ". location . twitter ."
	 ". website . github .";

}

.location {
	grid-area: location;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.twitter {
	grid-area: twitter;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.website {
	grid-area: website;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.github {
	grid-area: github;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.contact img {
	padding-right: 15px;
}